# Database Related variables
# DATABASE_URL=''
DATABASE_HOST=""
DATABASE_PORT=""
DATABASE_USERNAME=""
DATABASE_PASSWORD=""
DATABASE_NAME=""

# JWT Related variables
JWT_SECRET=""
JWT_REFRESH_SECRET=""

# Application Related variables
PORT=""