# Database Related variables
# DATABASE_URL=''
# DATABASE_HOST=""
# DATABASE_PORT=""
# DATABASE_USERNAME=""
# DATABASE_PASSWORD=""
# DATABASE_NAME=""

PROD_DATABASE_URL=""
DEV_DATABASE_URL=""

# JWT Related variables
JWT_SECRET=""
JWT_REFRESH_SECRET=""

# Application Related variables
PORT=""
MODE="" # DEV or PROD
FRONTEND_URL="" # Deployed frontend Url 

# ImageKit Keys
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_PUBLIC_KEY=""